streamlit~=1.45.1
langchain-community~=0.3.0
langchain~=0.3.25
requests~=2.32.3
selenium~=4.32.0
webdriver-manager~=4.0.2
beautifulsoup4~=4.13.4
google~=3.0.0
protobuf~=5.29.5
Flask~=3.1.1
langchain-google-genai~=2.1.8
langchain-core~=0.3.63
Flask-Login~=0.6.3
torch~=2.7.0
langchain-experimental~=0.3.4